<% require 'email_munger' %>
<% provide(:title, "User: #{@user.name}") %>

<div class="row">
  <section class="user_info">
    <h1>
    User: <%= @user.name %>
    </h1>
    Username: <%= @user.username %>
    <br>
    Email: <%= raw(EmailMunger.encode(@user.email)) %>
    <br>
    <% # BEGIN: delete button %>
    <% if admin_signed_in? %>
      <%= link_to "Delete #{@user.name} (#{@user.username})", @user,
        class: "btn btn-danger", method: :delete,
        data: { confirm: "Are you sure you wish to delete #{@user.name}?" } %>
    <% end %>
    <% # END: delete button %>
  </section>
</div>
